#
# Copyright (c) 2021 Hyper Collective LTD
#

config HYPER_DEVICE
	bool "hyper-device"
	default y
	depends on I2C
	select LIBCMP

if HYPER_DEVICE
rsource "hyper-device-hydrokit/Kconfig"
rsource "hyper-device-as-co2/Kconfig"
rsource "hyper-device-as-hum/Kconfig"
endif
